[Unit]
Description=Job Browsermob proxy for python UX scripts
Requires=selenium-hub.service
After=selenium-hub.service

[Service]
TimeoutStartSec=60
ExecStartPre=-/usr/bin/docker rm proxy
ExecStart=/usr/bin/docker run -p 9090-9121:9090-9121 --name proxy itboffin/browsermob-proxy
ExecStop=/usr/bin/docker stop proxy

[Install]
WantedBy=multi-user.target
